/* ----------------------------------------
   BEGIN: temp styles
*/

.page {
  max-width: 1024px;
  margin: 0 auto;
}

/*
   END: temp styles
   ---------------------------------------- */





/* ----------------------------------------
   BEGIN: map-wrapper
*/

// wraps map and vue components
.map-wrapper {
  position: relative;
}

/*
   END: map-wrapper
   ---------------------------------------- */





/* ----------------------------------------
   BEGIN: map-container
*/

.map-container {
  padding-top: 66%;
  background-color: #ccc;
  position: relative;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*
   END: map-container
   ---------------------------------------- */





/* ----------------------------------------
   BEGIN: form-popup
*/

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 10001;

  &.active {
    display: block;
  }

  &__inner {
    padding: 20px;
    position: fixed;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    top: 30px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1024px;
    background: #fff;
    z-index: 10002;
  }
}

/*
   END: form-popup
   ---------------------------------------- */





/* ----------------------------------------
  BEGIN: marker legend
*/

.marker-legend {
  padding: 20px;
  width: 200px;
  position: absolute;
  z-index: 10000;
  top: 20px;
  right: 20px;
  background-color: #e6e6e6;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    img {
      vertical-align: middle;
    }
  }

  &__item ~ &__item {
    margin-top: 10px;
  }
}

/*
  END: marker legend
  ---------------------------------------- */
