

<template>
      <div class="marker-legend" v-if="isActive">
        <ul class="marker-legend__list">
          <li class="marker-legend__item" v-for="cat in categories">
            <img :src="cat.markericon.url" width="40" height="40" alt=""> {{cat.name}}
          </li>
        </ul>
      </div>
</template>



<script>
import eventHub from './event-hub';


export default {
  props: {

    categories: {
      type: Array,
      default() {
        return [];
      }
    }
  },

  data () {
    return {
      isReady: false
    };
  },

  computed: {
    isActive() {
      return this.categories.length > 0
    }
},

  mounted () {
    this.$set(this, 'isReady', true);
  },

  methods: {}
};
</script>
