

<template>
      <div class="popup" :class="{active: isActive}" v-if="isActive">
        <div class="popup__inner">
            <div class="popup__close" @click="hideMarkerInfoWindow">X</div>

            <h2>{{activeMarker.name}}</h2>
            <p>{{activeMarker.message}}</p>
        </div>
      </div>
</template>



<script>
import eventHub from './event-hub';


export default {
  props: {

    activeMarkerIndex: {
      type: Number,
      default() {
        return false;
      }
    },

    activeMarker: {
      type: Object,
      default() {
        return {};
      }
    }
  },

  data () {
    return {
      isReady: false
    };
  },

  computed: {
    isActive() {
      return this.activeMarkerIndex > -1
    }
  },

  mounted () {
    this.$set(this, 'isReady', true);
  },

  methods: {
    hideMarkerInfoWindow(){
      eventHub.$emit('hideMarkerInfoWindow');
    }
  }
};
</script>
